/* element level style */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFEFD6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
}

/* Header component style */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F2DEBA;
  padding: 10px 30px;
  position: sticky;
  top: 0;
}

.header-align {
  float: right;
  font-size: 15px;
  font-weight: bold;
}

.btn {
  display: inline-block;
  background: rgb(27, 23, 23);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  /* text-decoration: none; */
  font-size: 15px;
  font-family: inherit;
}

.btn:hover {
  color: blue;
}

.img {
  border-radius: 100%;
}

/* Nav bar styling */
.nav-item {
  padding: 10px;
  color: rgb(119, 116, 116);
}

/* Landing page style */
.landing {
  padding: 30px;
}

/* Products component style */
.products {
  display: flex;
  flex-flow: row wrap;
}

.product {
  padding: 40px;
}

h6 {
  padding-top: 1rem;
  font-size: large;
}

/* Interest Calculator component style */

.interest-cal-container {
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
}

.interest-cal-section {
  width: 25rem;
  display: flex;
  flex-flow: column wrap;
  border: solid 2px;
  border-radius: 10px;
  border-color: #F2DEBA;
  padding: 10px;
  margin: 10px;
  background-color: #fdecd3;
  font-weight: bold;
}

.interest-cal-control {
  display: inline-block;
  margin: 10px;
}

/* Footer component style - following classes are created (and used in App.js) to keep footer at the bottom of the page */
/* Reference: https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ */
.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;
  /* Footer height */
}

.footer {
  background-color: #F2DEBA;
  padding-top: 5px;
  padding-left: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;

}

/* media query to reduce header font size when screen size is reduced to 1140px or below */
@media screen and (max-width: 1140px) {

  h1 {
    font-size: 30px;
  }

  .btn {
    font-size: 12px;
  }
}

/* media query to reduce header font size when screen size is reduced to 780px or below */
@media screen and (max-width: 780px) {

  h1 {
    font-size: 20px;
    font-weight: bold;
    padding-left: 25px;
  }

  p {
    font-size: 12px;
    font-weight: bold;
    word-wrap: normal;
  }
}